[Unit]
Description=swhkd hotkey daemon
BindsTo=default.target

[Service]
Type=simple
ExecStart=$HOME/.config/swhkd/hotkeys.sh

[Install]
WantedBy=default.target
