/* 定义颜色 */
@define-color barbg rgba(0, 0, 0, 0);
@define-color litebg #C5FFF8;
@define-color abtu #0eb0c9;
@define-color txt #7B66FF;
@define-color hbtu #FF90BC;
@define-color tolbg #96EFFF;
@define-color bd #FFF;

* {
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 20px;
  border-radius: 0px;
}

window#waybar {
  background: @barbg;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#bluetooth,
#backlight,
#network,
#tray {
  margin: 6px 0px 7px 0px;
  padding: 0px 0px 0px 20px;
  text-shadow: none;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: @abtu;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.8s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: @abtu;
  border-radius: 18px;
  color: @litebg;
  margin-left: 3px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.6s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @hbtu;
  border-radius: 20px;
  color: @litebg;
  padding-left: 10px;
  padding-right: 10px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.6s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#pulseaudio {
  color: #268bd2;
}

#memory {
  color: #2aa198;
}

#cpu {
  color: #6c71c4;
}

#battery {
  color: #859900;
}

#bluetooth {
  color: #859900;
}

#disk {
  color: #b58900;
}

#network {
  color: #eea2a4;
}

#backlight {
  color: #ede3e7;
}

#clock {
  color: #f26b1f;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#bluetooth,
#network,
#backlight,
#disk {
  padding: 0 10px;
}
